.App {
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 40px;
  min-width: 300px;
  background-color: #e3f2fd;
}

.App-logo {
  height: 100%;
  padding: 0;
  margin: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-main > div {
  margin: 20px auto 0;
  padding: 16px;
}

.App-header {
  background-color: #006cab;
}

.App-title {
  text-align: center;
  padding: 16px;
  color: #006cab;
}

.App-title > h1 {
  font-size: 8vh;
  margin: 0 0 8px;
}

.App-title > h2 {
  font-size: 3vh;
  margin: 0 0;
}

.App-search {
  text-align: center;
  width: 90%;
  min-width: 300px;
  max-width: 700px;
}

.App-search > div > h1 {
  font-size: 20px;
  margin: 16px 0 0;
}

.App-results {
  max-height: 350px;
  overflow: auto;
}

.App-unit {
  box-sizing: border-box;
  width: 90%;
  min-width: 300px;
  max-width: 700px;
}

.App-unitBody {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.App-unitBody > div {
  margin: 20px 0;
  text-align: left;
}

.App-unitBody > div:first-of-type {
  margin-top: 0;
}

.App-unitBody > div > h3 {
  font-size: 18px;
  margin: 4px 0;
}

.App-unitTitle > h1 {
  font-size: 24px;
  margin: 0 0 8px;
}

.App-unitTitle > h2 {
  font-size: 20px;
  margin: 0 0 6px;
}

.App-unitRatings {
  display: flex;
  flex-wrap: wrap;
}

.App-unitRatings > h3 {
  flex: 0 0 100%;
}

.App-unitRatings > div {
  box-sizing: border-box;
  flex: 1 0 200px;
  padding: 12px 24px 12px 0;
}

.App-unitRatings > div > * {
  display: inline-block;
  margin: 4px 0;
}
