.App {
  text-align: center;
  background-color: #0485ca;
  min-height: 100vh;
}

.App-logo {
  height: 100%;
}

.App-header {
  background-color: #006cab;
  height: 50px;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-main {
  display: inline-block;
  font-size: large;
  padding: 10px 0;
  width: 80%;
  min-width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-title {
  color: #eeeeee;
}

.App-title > h1 {
  font-size: 8vh;
  margin: 40px;
}
.App-title > h2 {
  font-size: 4vh;
  margin: 20px;
}

.App-input {
  box-sizing: border-box;
  vertical-align: top;
  height: 60px;
  width: 280px;
  margin: 0;
  padding: 0 10px;
  vertical-align: center;
  border: none;
  font-size: 30px;
  color: #111111;
}

.App-button {
  box-sizing: border-box;
  color: #111111;
  padding: 5px;
  margin: 0 auto;
  border: none;
  background-color: #eeeeee;
  /* background-color: #006cab; */
}

#App-search {
  border: 2px solid #111111;
  margin: 40px auto;
  width: 300px;
}

#App-search > * {
  width: 100%;
}

#App-results {
  margin: 0 auto;
}

#App-results > button {
  display: inline-block;
  width: 100%;
  padding: 3px 5px;
}

#App-results > button > h1 {
  margin: 5px;
  font-size: 20px;
  text-align: left;
  color: #111111;
}

#App-results > button > h2 {
  margin: 5px;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  color: #333333;
}

.App-unit {
  width: 80%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eeeeee;
  border: 2px solid #111111;
  text-align: left;
}

.App-unit > div {
  margin: 10px;
}

.App-unitHeader > h1, h2, h3 {
  margin: 10px 0;
}

.App-unitHeader > h1 {
  font-size: 28px;
}
.App-unitHeader > h2 {
  font-size: 24px;
}
.App-unitHeader > h3 {
  font-size: 20px;
}

.App-unitDesc > p {
  border: 1px solid #111111;
  background-color: #dddddd;
  padding: 10px;
  font-size: 14px;
}