.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #006cab;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  display: inline-block;
  font-size: large;
  padding: 10px 0;
  width: 80%;
  min-width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-input {
  height: 50px;
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  color: #111111;
}